* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'League Spartan,Roboto, Karla', sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}