.invoices-form {
  padding: 51px 56px 32px;
  background-color: #fff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin-top: 43px;
  margin-bottom: 45px;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  &__buttons--betwen {
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #0C0E16;

    &>span>span {
      color: #888EB0;
    }

  }

  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.invoices-form__spinner {
  margin-left: 5px;
  font-size: 15px;
}