.invoices-filter {
  padding-right: 10px;
  margin-right: 40px;
  background-color: transparent;
  border: none;
  outline-color: #7C5DFA;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0C0E16;
  cursor: pointer;

}