.formik-select {
  margin-left: 25px;
  flex: 1 1 auto;
  display: block !important;
  margin-bottom: 24px;

  &__label-span {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7E88C3;
  }

  &__label-span--error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EC5757;
  }
}